body {
  font-family: Helvetica;
}

.right-container {
  height: 100vh;
  .message-list {
    max-height: 70%;
    overflow: auto;
  }
  .message-form {
    max-height: 30%
  }
}

.left-container {
  height: 100vh;
}